@import "./_reset.css";
@import "./_variables.css";
@import "./_typography.css";

.page__wrapper {
  width: 96%;
  max-width: 1080px;
  margin: 0 auto;
}

header.page__header {
  border-bottom: 1px solid var(--grey300);
  margin-bottom: 64px;
}

header.page__header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

header.page__header ul li {
  margin-right: 32px;
}

section {
  border: 1px solid var(--grey300);
  border-radius: 4px;
  margin-bottom: 64px;
  padding: 16px 32px;
}

section.on-screen {
  border-left: 3px solid tomato;
}

nav {
  transition: 0.2s ease all;
  padding: 16px 0;
  top: 0;
}

nav.fixed {
  position: fixed;
  width: 100%;
  background: white;
  top: 0;

}
