@import "./_reset.css";
@import "./_variables.css";
@import "./_typography.css";

img {
  max-width: 100%;
}

.page__wrapper {
  width: 96%;
  max-width: 1080px;
  margin: 0 auto;
}

header.page__header {
  border-bottom: 1px solid var(--grey300);
  margin-bottom: 64px;
}

header.page__header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

header.page__header ul li {
  margin-right: 32px;
  padding: 8px 0;
}

@media screen and (max-width: 850px) {
  header.page__header ul li {
    font-size: 0.9rem;
  }
}

@media screen and (max-width: 650px) {
  header.page__header ul {
    display: none;
  }
}

header.page__header ul li.current {
  border-bottom: 2px solid tomato;
}

header.page__header ul li a {
  text-decoration: none;
}

header.page__header select#small-navigation {
  display: none;
}

@media screen and (max-width: 650px) {
  header.page__header select#small-navigation {
    display: block;
    line-height: 1.5;
    min-width: 200px;
    font-size: 1rem;
    padding: 8px 4px;
  }
}

header.page__header .fixed select#small-navigation {
  margin-left: 16px;
}

section {
  border: 1px solid var(--grey300);
  border-radius: 4px;
  margin-bottom: 64px;
  padding: 16px 32px;
}

section.on-screen {
  border-left: 3px solid tomato;
}

nav {
  transition: 0.2s ease all;
  padding: 16px 0;
  top: 0;
}

nav.fixed {
  position: fixed;
  width: 100%;
  background: white;
  top: 0;
  left: 0;
  border-bottom: 1px solid #ccc;
}

nav.fixed ul {
  width: 96%;
  max-width: 1080px;
  margin: 0 auto;
}

#back-to-top {
  position: fixed;
  display: none;
  bottom: 18px;
  right: 18px;
  width: 50px;
  height: 50px;
  background: rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  cursor: pointer;
}

#back-to-top.visible {
  display: block;
}

#back-to-top .triangle {
  width: 0;
	border-width: 0 10px 15px 10px;
	border-color: transparent transparent #999 transparent;
	border-style: solid;
  position: relative;
  top: -3px;
  left: 15px;
}
